################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC/MVC/bin
/MVC/packages
/MVC/MVC.Tests/obj/Debug
