################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVC/MVC/bin
/MVC/packages
/MVC/MVC.Tests/obj/Debug
/MVC/MVC/obj/Debug
/MVC/DemoApp/obj/Debug
/MVC/DemoApp/bin/Debug
/MVC/ClientSocket1/bin/Debug
/MVC/ClientSocket1/obj/Debug
/MVC/MVC.Tests/bin/Debug
/MVC/ServerSocket1/bin/Debug
/MVC/ServerSocket1/obj/Debug
/MVC/DB/obj/Debug/Model.xml
/MVC/DB/obj/Debug/DB.sqlproj.FileListAbsolute.txt
/MVC/DB/obj/Debug/DB.pdb
/MVC/DB/obj/Debug/DB.dll
/MVC/DB/obj/Debug
/MVC/DB/bin/Debug/DeploymentReport.txt
/MVC/DB/bin/Debug/DB.publish.sql
/MVC/DB/bin/Debug/DB.pdb
/MVC/DB/bin/Debug/DB.dll
/MVC/DB/bin/Debug/DB.dacpac
/MVC/DB/bin/Debug
/MVC/ChatServer/ChatLibrary/obj/Debug
/MVC/ChatServer/ChatLibrary/bin/Debug
/MVC/ChatServer/Client/obj/x86/Debug
/MVC/ChatServer/Client/bin/Debug
/MVC/ChatServer/Server/obj/x86/Debug
/MVC/ChatServer/Server/bin/Debug
/Main/ChatApps/bin/Debug
/Main/ChatApps/obj/Debug
/Main/ChatServer/ChatLibrary/bin/Debug
/Main/ChatServer/ChatLibrary/obj/Debug
/Main/DemoApp/bin/Debug
/Main/DemoApp/obj/Debug
/Main/packages
/Main/ChatServer/Server/obj/x86/Debug
/Main/DB/bin/Debug
/Main/DB/obj/Debug
/Main/DesignPatterns/bin/Debug/netstandard1.6
/Main/DesignPatterns/obj/Debug/netstandard1.6
/Main/HackerRank/HR.Challenge.30Days/obj/Debug
